.Footer {
  width: 100vw;
  font-size: 11px;
  padding: 20px 0;
  background-color: #f5f6f7;
  .footerList {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    li {
      margin: 0 3px;
    }
  }
}
